@import "tailwindcss";

@theme {
  /* bg colors */
  --color-blue-100: #ebf0fa;
  --color-blue-600: #262C52;
  --color-blue-700: #090c33;
}

:root {
  --helvetica: helvetica, 'Arial', sans-serif;
}

#root {
  font-family: var(--helvetica);
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
}

body {
  margin: 0;
}

h1,
h2 {
  font-size: 3.5rem;
  font-weight: 400;
}